*{
 
    padding: 0px;
    /*font-family: "Roboto";*/
    /* font-family: 'Inter', sans-serif; */
}
div#banner > .container{
    max-width: 1420px !important;
}
.img-logo{

    height: 60px;

}

a:hover{
    color: unset;
}
h3, img, p{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
}
.fs32px{
    font-size: 32px;
}
.icon-hot{
color:  red;
padding-left: 20px;
}
body{
    /* background: #000 !important; */
    color: #fff !important;
    font-weight: bold !important;
}
.cl-white{
    color: #ffffff !important;
}
#content .container{
    margin-top: 100px;
}
.slide img{
    /* height: 550px; */
    width: 100%;
}
.slide_home_ct .slick-initialized .slick-slide{
margin: 0px 15px;
}
.container.slide_home_ct{
    max-width: 1266px !important;
}
.container.slide_home_ct .slick-slider{
    max-width: 1266px !important;
}
.row , .col{
    margin: 0px !important;
}
.container, .col{
    padding: 0px !important;
}
.font-19{
    font-size: 19px;
    line-height: 21px;
}

/* sua menu */
.collapse {
    display: flex;
}
#header .navbar .btn-search{
    height: 100%;
    max-height: 38px;
    border: unset;
}
.collapse_t {
    display: flex;
}
.kt_the_loai{
position: relative;
}
.kt_the_loai::after{
    display: inline-block;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    /* position: absolute;
    top: 10px;
    right: -15px; */
    position: relative;
    top: 3px;
    font-size: 18px;
}
.nav-item{
margin-right: 20px;
}
.navbar .container{
    max-width: 1250px;
}
.navbar-toggler{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid, .fas{
    margin-right: 0px !important;
    color: #ffffff;
}
.navbar-light .navbar-toggler{
    border-color: #ffffff;
}
/* end sua menu */
/*header*/
#header{

}

#header .navbar{
    padding: 10px 20px;
    /*background: rgb(255,151,0);*/
    background: #404040;
    /*box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;*/
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .navbar .register-login{
    display: flex;
    align-items: center;
}
#header .navbar .register-login .register a{
    padding: 8px 8px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
    background: #903a3a;
    text-align: center;

}
#header .navbar .register-login .register>a{
    color: #ffffff;
    font-size: 16px;
}
#header .navbar .register-login .login>a{
    color: #ffffff;
    font-size: 16px;
}
#header .navbar .register-login .login a{
    padding: 8px 8px;
    width: 100px;
    border-radius: 0px 10px 10px 0px;
    background-color: #903a3a;
    border-left: 1px solid;
    /*box-shadow:*/
    /*        -7px -7px 20px 0px #fff9,*/
    /*        -4px -4px 5px 0px #fff9,*/
    /*        7px 7px 20px 0px #0002,*/
    /*        4px 4px 5px 0px #0001;*/
}
#header .navbar .btn-search{
    border-radius: 0px 7px 7px 0px;
    background: #dee2e6;
    color: #000;
    font-weight: 900;
}
#header .navbar .input-search{
    border-radius: 7px 0px 0px 7px;
    background: #fff;
    flex-grow: 1;
}
ul.navbar-nav{
    flex-grow: 1;
    margin-right: 20px;
}
.form-search{
    min-width: 320px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}
#navbarSupportedContent{
    max-width: 1100px;
}


/*end header*/
/*content*/
#content{
    padding-top: 10px;
    /* background: aliceblue; */
    background: #ffffff;
}
.content-comic{
    display: flex;
    justify-content: space-between;
}
.content-comic .list-comic{
    width: 70%;
}
 .list-comic .category-comic{
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    background: #404040;
    box-shadow: inset 2px 2px 2px 0px #404040;
}
 .category-comic .box-comic{
    width: 22%;
    min-height: 200px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
  /* .category-comic .box-comic >img:hover{
     -moz-transform: scale(1.09);
     -webkit-transform: scale(1.06);
     transform: scale(1.06);
     border-radius: 5px;
    overflow: hidden;
 } */
 .category-comic .box-comic >img {
    transition: all 0.3s ease-in-out;
    width: 100%;
}

 .category-comic .box-comic >img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}
 .category-comic .text-content-comic{
    /*position: absolute;*/
    bottom: 0px;
    /* background-color: rgba(0,0,0,0.2); */
    width: 100%;
    text-align: center;
    padding: 0px 2px 0px 2px;
    font-weight: 600;
    /* height: 90px; */
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.category-comic .text-content-comic >h5{
    margin-bottom: 10px !important;
    font-size: 19px;
}
span.text-chapter{
    background: brown;
    /* padding: 5px; */
    border-radius: 4px;
    margin: 0px;
    font-size: 14px;
 }
  .text-content-comic .text-nd{
    width: 157px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 75px;
    display: -webkit-box;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 2px;
}
span.text-tap{
    background: chocolate;
    padding: 5px;
    border-radius: 4px;
    margin: 0px;
    font-size: 14px;
}
.content-comic .list-comic .category-comic .text-content-comic .text{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 16px;
}
/* .content-comic .list-comic .category-comic .text-content-comic >h5{
    margin: 0px !important;
    padding: 0px !important;
    font-size: 19px;
} */
.content-comic .list-comic .category-comic .text-content-comic  >p{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 19px;
}

.comic .list-comic{
    width: 100%;
}
.comic .list-comic .category-comic{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin-top: 40px;
    background:#ffffff;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
}
.comic .list-comic .category-comic .box-comic{
    width: calc(calc(100% / 6) - 10px);
    min-height: 200px;
    position: relative;
}
.comic .list-comic .category-comic .box-comic >img{
    width: 100%;
    min-height: 200px;
}
/*slick slide*/
.slick-next:before{
    font-family:'slick';
    content:url("../img/phai.png") !important;

}
.slick-prev:before{
    content:url("../img/trai.png") !important;
}
.slick-prev, .slick-next{
    width: 40px !important;
    height: 40px !important;
    background: aliceblue !important;
}
.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px !important;
    line-height: 1 !important;
    opacity: .75 !important;
}
.slick-next{
    top: 50%!important;
    border-radius: 10px;
    right: -25px !important;
}
.slick-prev{
    top: 50%!important;
    border-radius: 10px;
    left: -23px !important;

}
.slick-list{
    border-radius: 0px;
}

/*end slick slide*/
.comic-hot-list{
    display: flex;
    justify-content: space-between;
}
.chapter-chuong{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.drop-menu-kt{
   width: 1000px;
    left: -300px;

}
.kt-flex-menu{
    display: flex;
    flex-wrap: wrap;
    background: #404040;
}
.drop-menu-kt .kt-flex-menu>a{
    width: 184px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}
/* .drop-menu-kt .kt-flex-menu>a:hover{
    color: red;
    background: #66afe9;
} */
.comic-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* color: brown; */
    font-weight: bold;
}
.comic-title>img{
    width: 45px;
}
.category-comic{
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background: #4285d2;
    /*box-shadow: inset 2px 2px 2px 0px #404040;*/
    /*box-shadow: inset 2px 2px 2px 0px #4285d2;*/
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.comic .category-comic .box-comic{
    width: calc(calc(100% / 6) - 15px);
    color: #ffffff;
}
.box-bt{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url("../img/5cm.png")no-repeat;*/
    background-size: 100% 100%;
    height: 268px;
    opacity: 0.7;
    flex-direction: column;
}
.box-comic.box-bt>img{
    min-height: auto !important;
}
.a-xem-them{
    font-size: 24px;
    text-decoration: underline;
    color: #fff;
    font-weight: 200;
    font-family: cursive;
}
.a-xem-them:hover{
    color: red;
    font-size: 30px;
}
.ct-ft{
    padding: 80px 0px 20px 0px;
    /*border-bottom: 2px solid #ffffff;*/
}


.content-comic .sidebar-comic{
    width: 25%;
    max-height: 700px;
    margin-top: 40px;
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    background: #ffffff;
}

ul.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul.navbar-nav I


#footer{
    background: #404040;
    padding: 30px 50px 60px 50px;
}
#footer .chi-tiet{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#footer  .nd-chi-tiet >ul{
    display: flex;
}
#footer  .nd-chi-tiet >ul >li{
    padding: 0px 20px;
}
#footer  .nd-chi-tiet >ul >li >a{
    color: #fff;
}
#footer .lien-ket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.05);
    padding: 0px 20px 20px 20px;

}
#footer .lien-ket >h3{
    padding: 20px 0px;
}
#footer .lien-ket>p{
    font-size: 16px;
}
.title-web{
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
    text-align: center;
    margin-top: 40px;
}
.container.slide_home_ct{
    margin-top: 60px !important;
}
/*end content*/


@media(max-width: 1440px) {
    div#banner > .container{
        max-width: 1266px !important;
        
    }
}
@media(max-width: 1366px) {
    div#banner > .container{
        width: 90%;
    }
}
@media(max-width: 1200px) {
    .font-19{
        font-size: 16px;
    }
    .form-search{
        min-width: 200px;
    }
    #header .navbar .register-login .register a,
    #header .navbar .register-login .login a{
        min-width: unset !important;
        width: 110px;
        padding: 5px 10px;
        font-size: 16px;
    }
    .navbar-light .navbar-brand{
        width: 135px;
        display: inline-block;
    }
    .navbar-light .navbar-brand> img{
        width: 100%;
    }
    .slide img{
        /* height: 400px; */
    }
    .container.slide_home_ct{
        max-width: 979px !important;
    }
}
@media(max-width: 1024px) {
    .navbar .container{
        width: 100% !important;
    }
    .nav-item{
        margin-right: 15px;
    }
    .container{
        width: 95% !important;
        max-width: 100% !important;
        margin: 0 auto;

    }
    .comic .category-comic .box-comic{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media(max-width: 991px) {
    /* ul.navbar-nav{
        display: none;
    } */
    #header .navbar{
        justify-content: space-between;
    }
    .form-search{
        margin: 20px 0px;
    }
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    .navbar-light .navbar-toggler{
        order: 1;
    }
 
    #navbarSupportedContent{
        order: 2;
    }
    .coating{
        left: 0px;
        right: 0px;
    }
    .dropdown{
        order: 2;
    }
    ul.navbar-nav{
        margin-right: 0px;
    }
    .kt-flex-menu ul li{
        min-width: unset !important;
        max-width: unset !important;
        margin: 10px 0px !important;
        width: calc(100% /7);
    }
    #header .navbar .register-login{
        justify-content: flex-end;
        margin-right: 20px;
        flex-grow: 1;
    }
    /* reponsive menu  */
    .collapse_t{
        position: absolute;
        background: #4285d2;
        top: 59px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    display: none;
    }
    /* .navbar-nav .dropdown-menu{
        display: block !important;
    } */
    .form-search{
        margin: 14px 21px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        width: 101% !important;
    left: -1px !important;
    top: 123px !important;
    }
    li.nav-item.dropdown{
        position: relative;
    }
    ul.navbar-nav{
        flex-direction: row;
        margin-bottom: 20px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: absolute;
    }
    #header .navbar .btn-search{
        height: 38px;
    }
    #header .navbar{
        padding: 10px;
    }
    .title-web{
        font-size: 60px;
    }
    /* end reponsive menu */
}
@media(max-width: 769px) {
    .slide img{
        /* height: 300px; */
    }
    div#banner{
        min-height: 500px !important;
    }
    .comic-title>h3{
        font-size: 24px;
    }
    #footer .nd-chi-tiet >ul >li{
        padding: 0px 15px;
    }
}
@media(max-width: 650px) {
   
    .slide_home_ct .slick-initialized .slick-slide{
        margin: 0px 7px;
    }
    .collapse_t{
        position: absolute;
        background: #4285d2;
        top: 59px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    display: none;
    }
    /* .navbar-nav .dropdown-menu{
        display: block !important;
    } */
    .form-search{
        margin: 14px 21px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        width: 101% !important;
    left: -1px !important;
    top: 123px !important;
    }
    li.nav-item.dropdown{
        position: relative;
    }
    ul.navbar-nav{
        flex-direction: row;
        margin-bottom: 20px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: absolute;
    }
    #header .navbar .btn-search{
        height: 38px;
    }
    #header .navbar{
        padding: 17px 5px;
    }
    /*  */
    #content .container{margin-top: 20px !important;}
    .content-commic{
        width: 100% !important;
        max-width: 155px !important;
    }
    .navbar-light .navbar-brand{
        /* width: 118px; */
        max-width: 150px;
        margin-right: 0px;
        flex-grow: 3;
    }
    #header .navbar .input-search{
        width: 50% !important;
    }
    .slide img{
        /* height: 225px; */
    }
    div#banner{
        min-height: unset!important;
        padding-bottom: 0px !important;
    }
    #banner .slick-dots{
        bottom: -60px !important;
    }
    .category-comic{
        padding: 10px;
        margin-top: 25px;
        box-shadow: unset;
    }
    .category-comic .slick-slider{
        margin-bottom: 20px;
    }
    .kt-flex-menu ul li{
        width: calc(100% /3);
    }
    .navbar-light .navbar-toggler{
        font-size: 16px;
    }
    #footer .chi-tiet{
        flex-direction: column;
    }
    #footer .nd-chi-tiet >ul{
        flex-direction: column;
    }
    #footer .nd-chi-tiet >ul >li{
        padding: 5px 0px;
    }
    .category-comic .box-comic > img{
        width: 95% !important;
        height: 180px !important;
    }
    .comci-fire{
        right: 8px !important;
    }
    .category-comic .text-content-comic{
        max-width: 155px;
    }
    .title-web{
        font-size: 41px;
        padding-bottom: 67px;
        margin-top: 0px;
    }
    .slide_home_ct .slick-next{
        right: -9px !important;
    }
    .slide_home_ct .slick-prev{
        left: -6px !important;
    }
    div#banner{
        padding-top: 100px !important;
    }
    .paging-home ul.li-paging-home li{
        padding: 5px 13px !important;
    }
    #footer .lien-ket{
        padding: 0px 0px 20px 1px;
    }
    #footer .lien-ket >h3{
        padding: 12px 0px;
    }
    #header .navbar .register-login .register a, #header .navbar .register-login .login a{
        width: 88px;
        font-size: 14px;
        padding: 5px 5px;
    }
    .comic .category-comic .box-comic{
            margin-left: 3px;
            margin-right: 3px;
    }
    .box-comic{
        max-width: 100% !important;
    }
    #header .navbar .register-login{
        margin-right: 8px;
    }
    .slide_home_ct .slick-next,.slide_home_ct .slick-prev{
        display: none !important;
    }

}