<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Đăng ký tài khoản</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="../include/bootstrap.min.css" rel="stylesheet">
  <link href="../include/nifty.min.css" rel="stylesheet">
  <link href="../../nifty-v2.9.1/demo/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
  <link href="../include/nifty-demo.min.css" rel="stylesheet">
  <link href="../css/admin.css" rel="stylesheet">
  <link rel="stylesheet" href="/View/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="tung_login">



<div id="bg-overlay" class="bg-img" style="background-image: url(../img/s6.jpg);"></div>
<!--===================================================-->
<div class="cls-content">
  <div class="cls-content-lg panel">
    <div class="panel-body">
      <div class="mar-ver pad-btm">
        <h1 class="h3">Tạo tài khoản mới</h1>
        <p>Hãy tham gia cộng đồng anime Hãy thiết lập tài khoản của bạn.</p>
      </div>
      <form action="dang_ky.html">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full name" name="name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="E-mail" name="email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
          </div>
        </div>
        <div class="checkbox pad-btm text-left">
          <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
          <label for="demo-form-checkbox">Tôi đồng ý  <a href="#" class="btn-link text-bold">với các điều khoản trên</a></label>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="button">Đăng ký</button>
      </form>
    </div>
    <div class="pad-all">
      bạn đã có tài khoản ?<a href="dang_nhap.html" class="btn-link mar-rgt text-bold">Đăng nhập</a>

      <div class="media pad-top bord-top">
        <div class="pull-right">
          <a href="#" class="pad-rgt"><i class="demo-psi-facebook icon-lg text-primary"></i></a>
          <a href="#" class="pad-rgt"><i class="demo-psi-twitter icon-lg text-info"></i></a>
          <a href="#" class="pad-rgt"><i class="demo-psi-google-plus icon-lg text-danger"></i></a>
        </div>
        <!-- <div class="media-body text-left text-main text-bold">
          Sign Up with
        </div> -->
      </div>
    </div>
  </div>
</div>
<!--===================================================-->








<!-- <script src="../include/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--BootstrapJS [ RECOMMENDED ]-->
<script src="../include/bootstrap.min.js"></script>
<!--NiftyJS [ RECOMMENDED ]-->
<script src="../include/nifty.min.js"></script>
<!-- <script src="../include/dashboard.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>




</html>