<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quên mật khẩu</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="../include/bootstrap.min.css" rel="stylesheet">
  <link href="../include/nifty.min.css" rel="stylesheet">
  <link href="../../nifty-v2.9.1/demo/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
  <link href="../include/nifty-demo.min.css" rel="stylesheet">
  <link href="../css/admin.css" rel="stylesheet">
  <link rel="stylesheet" href="/View/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="tung_login">



<div id="bg-overlay" class="bg-img" style="background-image: url(../img/s6.jpg);"></div>
<!--===================================================-->
<div class="cls-content">
  <div class="cls-content-sm panel">
    <div class="panel-body">
      <h1 class="h3">Quên mật khẩu</h1>
      <p class="pad-btm">
        Nhập địa chỉ email của bạn để khôi phục mật khẩu của bạn. </p>
      <form action="pages-login.html">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group text-right">
          <button class="btn btn-danger btn-lg btn-block" type="submit">Đặt lại mật khẩu</button>
        </div>
      </form>
      <div class="pad-top">
        <a href="dang_nhap.html" class="btn-link text-bold text-main">Quay lại đăng nhập</a>
      </div>
    </div>
  </div>
</div>
<!--===================================================-->








<!-- <script src="../include/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--BootstrapJS [ RECOMMENDED ]-->
<script src="../include/bootstrap.min.js"></script>
<!--NiftyJS [ RECOMMENDED ]-->
<script src="../include/nifty.min.js"></script>
<!-- <script src="../include/dashboard.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>




</html>
