<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thể Loại</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> -->
  <link rel="stylesheet" href="../css/index.css">
  <script src="../javascript/bootstrap.min.js"></script>
  <script src="../javascript/jquery.min.js"></script>
  <script src="../javascript/slick.js"></script>
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/the_loai.css">
  <link rel="stylesheet" href="../css/sua_index.css">
  <link rel="stylesheet" href="../css/custom_slider.css">
  <script src="../javascript/clock.js"></script>
  <script src="../javascript/jquery-confirm.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
</head>

<!-- https://hanultruyen.net/the-loai/tong-tai?id=2&name_genre=T%E1%BB%95ng%20T%C3%A0i -->

<body>
<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container" >
      <a class="navbar-brand" href="index.html">
        <img src="https://hanultruyen.net/img/hanul-comics.a6fedfc4.png" alt="">
      </a>
      <button class="navbar-toggler menu-mobe-show" type="button"   a>
        <i class="fa-sharp fa-solid fa-bars"></i>
      </button>
      
      <div class="collapse_t ">
        <form class="form-inline  form-search">
          <input class="form-control input-search" type="search" placeholder="Tìm kiếm..." aria-label="Search">
          <button class="btn btn-search " type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link font-17 cl-white" href="index.html">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a class=" font-17 cl-white kt_the_loai" href="#" >
              Thể loại
            </a>
            <div class="dropdown-menu drop-menu-kt js-show-menu" style="display: none;" >
              <div class="container">
                <div class="kt-flex-menu">
                  <ul>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Hoạt hình</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Trinh Thám</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Cổ Tích</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Phưu Lưu</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Anime</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Kiếm Hiệp</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Truyện Tranh</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Phưu Lưu</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Anime</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Kiếm Hiệp</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Cổ Tích</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Phưu Lưu</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Anime</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Kiếm Hiệp</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Truyện Tranh</a></li>
                    <li> <a class="dropdown-item font-19" href="the_loai.html">Truyện Tranh</a></li>
                  </ul>
                </div>
              </div>
              <div class="coating">

              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link font-17 cl-white " href="#">Lịch sử xem</a>
          </li>
        </ul>

        
      </div>
      <div class="register-login">
        <div class="register  custom-btn">
          <a class="" href="dang_ky.html">Đăng nhập</a>
        </div>
        <div class="login custom-btn">
          <a class="" href="dang_nhap.html">Đăng ký</a>
        </div>
      </div>
    </div>
  </nav>


</header>
<div id="bn-the-loai">
  <div class="container" style="max-width: 1230px !important;">

  </div>
</div>
<div class="xam"></div>
<div id="content" >
  <div class="container" >

    <div class="comic the-loai">
      <div class="list-category">
        <h3>Thể loại tuyện</h3>
        <ul class="category-ul">
          <li><a href="">Truyện tranh</a></li>
          <li><a href="">Cổ tích</a></li>
          <li><a href="">Hành động</a></li>
          <li><a href="">Trinh thám</a></li>
          <li><a href="">anime</a></li>
          <li><a href="">Truyện chữ</a></li>
          <li><a href="">Kiếm hiệp</a></li>
          <li><a href="">Truyện tranh</a></li>
          <li><a href="">Cổ tích</a></li>
          <li><a href="">Hành động</a></li>
          <li><a href="">Trinh thám</a></li>
          <li><a href="">anime</a></li>
          <li><a href="">Truyện chữ</a></li>
          <li><a href="">Kiếm hiệp</a></li>

        </ul>
      </div>
      <div class="category-comic-tl">
        <div class="mn-category">
          <h4>Anime</h4>
          <ul class="sort-ul">
            <li>Sắp Xếp </li>
            <li><a href="">Mới nhất</a></li>
            <li><a href="">Xem nhiều nhất</a></li>
            <li><a href="">Yêu thích</a></li>
          </ul>
        </div>
        <div class="list_result">
          <div class="box-tl">
            <a href="thong_tin_truyen.html">
              <img src="../img/5_centimet_trên_giây.jpg" alt="">
            </a>
            <div class="text-tl">
              <h3 class="list_result_title">5cm/s</h3>
              <p class="tt-nd">Nội dung :</p>
              <p class="box-tl-nd"> Tono Takaki và Shinohara Akari là bạn thủa nhỏ nhưng vì vài lý do mà phải xa nhau. Thời gian trôi qua, họ dần trở nên xa cách hơn và chỉ có thể liên lạc với nhau qua những bức thư. Năm tháng thoi đưa, vực thẳm giữa họ ngày càng lớn và liên lạc cũng bị đứt đoạn. Tuy nhiên khi Takaki nhớ lại thời điểm họ biết nhau, cuộc đời như mở ra trước mắt cậu ta, và cậu ta quyết định tìm cơ hội gặp lại Akari, câu chuyện đã thay đổi nhận thức của Takaki và những người xung quanh cậu ta…</p>
              <div class="evaluate">
                <span><i class="fas fa-eye"></i>202.021</span>
                <span><i class="fas fa-thumbs-up"></i>1.222</span>
                <span ><i class="fas fa-star"></i>5.0</span>
              </div>
            </div>
          </div>
          <div class="box-tl">
            <a href="thong_tin_truyen.html">
              <img src="../img/5_centimet_trên_giây.jpg" alt="">
            </a>
            <div class="text-tl">
              <h3 class="list_result_title">5cm/s</h3>
              <p class="tt-nd">Nội dung :</p>
              <p class="box-tl-nd"> Tono Takaki và Shinohara Akari là bạn thủa nhỏ nhưng vì vài lý do mà phải xa nhau. Thời gian trôi qua, họ dần trở nên xa cách hơn và chỉ có thể liên lạc với nhau qua những bức thư. Năm tháng thoi đưa, vực thẳm giữa họ ngày càng lớn và liên lạc cũng bị đứt đoạn. Tuy nhiên khi Takaki nhớ lại thời điểm họ biết nhau, cuộc đời như mở ra trước mắt cậu ta, và cậu ta quyết định tìm cơ hội gặp lại Akari, câu chuyện đã thay đổi nhận thức của Takaki và những người xung quanh cậu ta…</p>
              <div class="evaluate">
                <span><i class="fas fa-eye"></i>202.021</span>
                <span><i class="fas fa-thumbs-up"></i>1.222</span>
                <span ><i class="fas fa-star"></i>5.0</span>
              </div>
            </div>
          </div>
          <div class="box-tl">
            <a href="thong_tin_truyen.html">
              <img src="../img/5_centimet_trên_giây.jpg" alt="">
            </a>
            <div class="text-tl">
              <h3 class="list_result_title">5cm/s</h3>
              <p class="tt-nd">Nội dung :</p>
              <p class="box-tl-nd"> Tono Takaki và Shinohara Akari là bạn thủa nhỏ nhưng vì vài lý do mà phải xa nhau. Thời gian trôi qua, họ dần trở nên xa cách hơn và chỉ có thể liên lạc với nhau qua những bức thư. Năm tháng thoi đưa, vực thẳm giữa họ ngày càng lớn và liên lạc cũng bị đứt đoạn. Tuy nhiên khi Takaki nhớ lại thời điểm họ biết nhau, cuộc đời như mở ra trước mắt cậu ta, và cậu ta quyết định tìm cơ hội gặp lại Akari, câu chuyện đã thay đổi nhận thức của Takaki và những người xung quanh cậu ta…</p>
              <div class="evaluate">
                <span><i class="fas fa-eye"></i>202.021</span>
                <span><i class="fas fa-thumbs-up"></i>1.222</span>
                <span ><i class="fas fa-star"></i>5.0</span>
              </div>
            </div>
          </div>
          <div class="box-tl">
            <a href="thong_tin_truyen.html">
              <img src="../img/5_centimet_trên_giây.jpg" alt="">
            </a>
            <div class="text-tl">
              <h3 class="list_result_title">5cm/s</h3>
              <p class="tt-nd">Nội dung :</p>
              <p class="box-tl-nd"> Tono Takaki và Shinohara Akari là bạn thủa nhỏ nhưng vì vài lý do mà phải xa nhau. Thời gian trôi qua, họ dần trở nên xa cách hơn và chỉ có thể liên lạc với nhau qua những bức thư. Năm tháng thoi đưa, vực thẳm giữa họ ngày càng lớn và liên lạc cũng bị đứt đoạn. Tuy nhiên khi Takaki nhớ lại thời điểm họ biết nhau, cuộc đời như mở ra trước mắt cậu ta, và cậu ta quyết định tìm cơ hội gặp lại Akari, câu chuyện đã thay đổi nhận thức của Takaki và những người xung quanh cậu ta…</p>
              <div class="evaluate">
                <span><i class="fas fa-eye"></i>202.021</span>
                <span><i class="fas fa-thumbs-up"></i>1.222</span>
                <span ><i class="fas fa-star"></i>5.0</span>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <!-- //////// -->
    <div class="ct-ft">
      <div class="paging-home">
        <ul class="li-paging-home">
          <li ><a href="#">Trước</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Sau</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top-up add-show">
    <img src="https://img.tenten.vn/k/lp/JVK/images/icon_up_contactf_2021.png" alt="">
  </div>
</div>
<footer id="footer">
  <div class="container">
    <div class="chi-tiet">
      <div class="kt-nn">
        <img src="" alt="">
        <span>Tiếng việt</span>
      </div>
      <div class="nd-chi-tiet">
        <ul>
          <li><a href="">liên hệ</a></li>
          <li><a href="">Quy định và Nội quy</a></li>
          <li><a href="">Chính sách bảo mật</a></li>
          <li><a href="">Trợ giúp</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="lien-ket">
      <h3>Liên Kết</h3>
      <p>
        Cám Ơn Các Bạn Đã Ghé Thăm Website, Ở Đây Tôi Có Những Người Bạn, Hãy Xem Thử Họ Có Gì Nhé: Mọi thông tin và hình ảnh trên website đều được sưu tầm trên Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.</p>
    </div>
  </div>
</footer>
</body>

</html>